<section class="chat-cmp">

    <article class="chat-feeds" id="chat-feeds">
        <bot-message [message]="1"></bot-message>
        <user-message [message]="2"> </user-message>
        <bot-message [message]="3"></bot-message>
        <user-message [message]="4"> </user-message>
        <bot-message [message]="5"></bot-message>
        <user-message [message]="6"> </user-message>
        <bot-message [message]="7"></bot-message>
        <user-message [message]="8"> </user-message>
        <bot-message [message]="9"></bot-message>
        <user-message [message]="10"> </user-message>

        <bot-message [message]="1"></bot-message>
        <user-message [message]="2"> </user-message>
        <bot-message [message]="3"></bot-message>
        <user-message [message]="4"> </user-message>
        <bot-message [message]="5"></bot-message>
        <user-message [message]="6"> </user-message>
        <bot-message [message]="7"></bot-message>
        <user-message [message]="8"> </user-message>
        <bot-message [message]="9"></bot-message>
        <user-message [message]="10"> </user-message>
    </article>

    <article class="chat-form" id="chat-form">
        <input type="text">
        <button>ENVIAR</button>
    </article>
  
</section>
