.chat-cmp
    display: flex
    flex-direction: column

.message-cmp
    display: block
    padding-bottom: 20px

.chat-feeds
    display: table-row
    height: 200px
    overflow-y: scroll

.chat-form
    background-color: #00f
    bottom: 0
    display: table-row
    height: 50px
    position: relative
    width: 100%
