<section class="chat-cmp">
  
    <bot-message></bot-message>

    <user-message></user-message>

    <bot-message></bot-message>

    <user-message></user-message>

    <bot-message></bot-message>
    
    <user-message></user-message>

    <bot-message></bot-message>

    <user-message></user-message>

    <bot-message></bot-message>

    <user-message></user-message>

    <bot-message></bot-message>
    
    <user-message></user-message>

    <bot-message></bot-message>

    <user-message></user-message>

    <bot-message></bot-message>

    <user-message></user-message>

    <bot-message></bot-message>
    
    <user-message></user-message>

</section>
